*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
/docs/build/
/docs/site/

.vscode
.ipynb_checkpoints
temp/

*.o
*.so
*.dll

examples/
*.R
*.jld
# *.jld2

Manifest.toml

## Figures
# *.pdf

*debug*
